@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color:#deab5f;
    --primary-color:#312e2e;
}
/* utility styles */
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}

/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #100e0f;
}

/* Nav style starts */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    font-family: sans-serif;
    padding-top: 20px;
}
li{
    display: inline;
    list-style: none;
}
li a{
    text-decoration: none;
    color:white;
    margin-left: 40px;
    padding-bottom: 10px;
}
li a:hover{
    border-bottom: 2px solid var(--main-color);
}
/* Nav ends */

/* header starts */
header{
    background-image: url("images/header.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    text-align: center;
    
}
.main-headings{
    position: absolute;
    top:7rem;
    font-size: 4rem;
    word-spacing: 10px;
    
}
.primary-headings{
    position: absolute;
    bottom: 4rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}
.main-btn{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background: transparent;
    background: var(--main-color);
    transform: translateY(60px);
}
#our-story{
    
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 400px;
    height: 400px;
    background: url("images/photo_2024-08-01_11-20-56.jpg");
    background-position: center;
    background-size: cover;
}
.title-style{
    display: flex;
    align-items: center;
}
.title{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    color:white;
    transform: translateX(-100px);
}
.line{
    width: 100px;
    height: 2px;
    background:white;
    transform: translateX(-120px);
}
.section-content p{
    max-width: 500px;
    color:white;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;
}
.coffee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}
.img2{
    width: 520px;
    height: 400px;
}
.content-section p{
    max-width: 500px;
    color:white;
    margin: 20px 0;
    font-family: sans-serif;

}
.title-two{
    font-size: 3rem;
    color:white;
    font-family: "Playfair Display", serif;
    
}

/* Products */
.products{
    margin-top: 5rem;
}

.title-three{
    font-size: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;

}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card{
    border:2px solid var(--main-color);
    padding: 0 20px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: relative;
    margin-bottom: 4rem;
}
.card-img{
    width: 100px;
    height: 100px;
    position: absolute;
    top:-60px;
}
.img-one{
    background:url(images/1.png) ;
    background-position: center;
    background-size: cover;
}
.img-two{
    background:url(images/2.png) ;
    background-position: center;
    background-size: cover;
}
.img-three{
    background:url(images/3.png) ;
    background-position: center;
    background-size: cover;
}
.card-title{
    color:white;
    font-family: sans-serif;
    margin-top:50px;
}
.card .items p{
    color:#fff;
    margin: 20px 0;
    font-family: sans-serif;
}
footer{
    height: 50vh;
    display:flex ;
    flex-wrap: wrap;
    color:white;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}
footer .container{
    margin:20px;
    max-width: 300px;
    text-align: center;
}
footer .heading-info{
    margin-bottom:20px;

}
footer p{
    line-height: 25px;
}
span{
    color:var(--main-color);
}

/* media query */
@media only screen and (max-width:768px){
    .main-headings,.primary-headings{
        font-size: 2.5rem;
    }
    #our-story{
        text-align: center;
    }
    #our-story .title{
        transform: translateX(50px);
    }
    #our-story .line{
        display: none;
    }
    .content-section{
        text-align: center;
    }
    #our-story .img-container .img{
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    .coffee-container .img-container{
        margin-top: 5rem;
        width: 50%;

    }
    .title{
        margin:0 auto;
    }
    .title-two{
        
        margin: 0 auto;
    }
    .title-three{
        display: none;
    }
    .para{
        display: none;
    }
}
